@font-face {
    font-family: thsarabun;
    src: url(../fonts/thsarabunnew-webfont.eot),
    url(../fonts/thsarabunnew-webfont.ttf) format('ttf'),
    url(../fonts/thsarabunnew-webfont.woff) format('woff');
}
@font-face {
    font-family: thsarabunbold;
    src: url(../fonts/thsarabunnew_bold-webfont.eot),
    url(../fonts/thsarabunnew_bold-webfont.ttf) format('ttf'),
    url(../fonts/thsarabunnew_bold-webfont.woff) format('woff');
}

@font-face {
    font-family: thsarabunbolditalic;
    src: url(../fonts/thsarabunnew_bolditalic-webfont.eot),
    url(../fonts/thsarabunnew_bolditalic-webfont.ttf) format('ttf'),
    url(../fonts/thsarabunnew_bolditalic-webfont.woff) format('woff');
}
@font-face {
    font-family: thsarabunitalic;
    src: url(../fonts/thsarabunnew_italic-webfont.eot),
    url(../fonts/thsarabunnew_italic-webfont.ttf) format('ttf'),
    url(../fonts/thsarabunnew_italic-webfont.woff) format('woff');
}

.card .card-title {
    font-weight: 600;
    letter-spacing: 0.05rem;
    font-size: 11pt;
}

html body{
    font-family: thsarabun ; 
} 


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { 
    font-family: thsarabunbold ,"Quicksand", Georgia, "Times New Roman", Times, serif;
}


.table-striped>tbody>tr:nth-child(2n+2)>td,
.table-striped>tbody>tr:nth-child(2n+2)>th {
    background-color: #1976d21a;
}
.main-menu.menu-light .navigation>li ul a.active{
    background-color: #0f1733;
    color: #859ae6;
    
}
.main-menu.menu-light .navigation>li:hover ul a.active{
    color: #8bc8ff;
    background-color: #22305f;
}

.card .card-content.collapse{
    padding: 1rem;
}
.badge.badge_c1{  
    /* font-size: 1rem;
    padding: 8px 0 5px 0;
    width: 134px; */
   font-size: 0.9rem;
    padding: 12px 15px 2px 14px;
}
.badge.badge_c2{  
    font-size: 0.9rem;
    padding: 8px 15px 4px 14px;
    display: block;
    width: auto;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 0px;
}
.badgebg1{
    background-color: #c8c9ca;
}

i.ico{
    color: #1a2959;
}
i.ico.la{
    color: #1a2959;
}
i.ico.la.disable{
    color: #dcdcdc;
}
a:hover i.ico.la{
    color: #2F47A1;
}
a:hover i.ico.la.disable{
    color: #dcdcdc;
}
.box1{
    padding: 0.8rem 0rem 0.8rem;
}

.txtdesc{
    font-size: 1.1rem;

}
.txtdesc2{
    font-size: 1.0rem;
}

.btn1{
    background-color: #0f1733;
    color: white;
    
}
.btn1:hover{
    background-color: #2F47A1;
    /* background-color: #404C69; */
    color: white;   
}
form .btn1{
    padding-top: 7px;
    width: 110px;
    height: 32px;
}


.btn.btn-success{
    background-color: #5CB85C !important;
}

.btn2{
    padding-top: 6px;
    padding-bottom: 6px;
    width: 114px;
}

.btn2.btn-success{
    background-color: #5CB85C !important;
}
.btn2.btn-success:hover{
    background-color: #5bb85bcc !important;
}
.btn2.btn-danger{
    background-color: #FF1C1C !important;
}
.btn2.btn-danger:hover{
    background-color: #ff1c1cab !important;
}


.btncustom1{
    padding: 2px 14px 7px 14px;
}
.btncustom2 {
    padding: 2px 14px 7px 14px;
}
.btncustom3 {
    padding: 5px 14px 4px 14px;
    font-size: 0.85rem;
}

.btncustom1 i.la{
    font-size: 1.5rem;
    position: relative;
    top: 3px;
    
}
.box_tb1{
    padding: 1rem 0rem;
}



.box_h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.box_h1 .form-control{
    width: 100%;
}
.box_h1 .card-header{
    background-color: #0f1733;
    height: 42px;
}
.box_h1 .card-title{
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 8px;
}
.box_h1 {
    border-left: 1px solid rgb(227, 235, 243);
    border-right: 1px solid rgb(227, 235, 243);
    border-bottom: 1px solid rgb(227, 235, 243);
}


.box_h2{
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 1px solid rgb(227, 235, 243);
    border-right: 1px solid rgb(227, 235, 243);
    border-bottom: 1px solid rgb(227, 235, 243);
}
.box_h2 .form-control{
    width: 100%;
}
.box_h2 .card-header {
    background-color: #E4E8F9;
    height: 42px;
}
.box_h2 .card-title{
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 8px;
}

.tb1 thead>tr {
    background-color:#0f1733; 
    color:whitesmoke;
    text-align: center;
}
 
.tb1 tr.even{
    background-color: #1976d21a;
}
.tb1 td.border1{
    border-left: 1px solid rgb(227, 235, 243);
    border-right: 1px solid rgb(227, 235, 243);
}


.fontcolor1{
    color:#0f1733;
}
.fontcolor2{
    color:#f13c3c;
}
a.fontcolor2:hover{
    color:#ff8c84;
}
.fontcolor3{
    color:#5CB85C;
}

.fontcolor1 i.la{
    color:#0f1733;
}
.fontcolor1:hover i.la{
    color: #2f4590;
}

.fontcolor2 i.la10{
    color:#f13c3c;
    font-size: 10rem ;
}
.fontcolor3 i.la10{
    color:#5CB85C;
    font-size: 10rem ;
}

.fontcustom1{
    color: #f13c3c !important;
    font-size: 0.9rem;
    font-weight: 600;
}
.fontcustom2{ 
    font-weight: 600;
}
.fontcustom3{ 
    font-size: 10rem !important;
}
.bg_custom1{
    background-color: #0f1733;
    color: #fff;
}
.bg_custom1 .modal-title{
    color: #fff;
}
.modal_custom1 .modal-title{
    line-height: 2.3;
}
.modal_custom1 .form-control{
    width: 100%;
}
.modal_custom1 .form-control.form2{
    width: 68%;
}
.modal_custom1 .modal-footer{
    border-top: 0px solid #98A4B8;
    padding-bottom: 2rem;
}
.modal_custom1 .modal-footer  > .btn:not(:last-child) {
    margin-right: 10px;
}
.modal_custom1 button.close{
    color: #FFF;
    border: 1px solid #FFF;
    padding: 7px 10px;
    border-radius: 20px;
    margin: 0px 0px;
    opacity: 1;
}
.modal_custom1 button.close:hover{ 
    opacity: 0.5;
}
.modal_custom1 .modal-content{
    border-radius: 1rem;
}

#modalPlanPublic .modal-body{
    padding-bottom: 0px;
}
#modalPlanPublic .modal-footer{
    padding-top: 0px;
}

.linetitle{
    width:7px;height:30px;background-color:#1a1d52; float:left; margin-right:10px;
}

/* 
###########################################################################
*/
.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20rem;
}
.toggle.ios .toggle-handle {
    border-radius: 20rem;
}
#background {
    position: absolute;
    z-index: 0;
    background: white;
    display: block;
    min-height: 50%;
    min-width: 50%;
    color: yellow;
}
#content {
    position: absolute;
    z-index: 1;
}
#bg-text {
    color: lightgrey;
    font-size: 120px;
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
}
.row.content {
    height: 550px
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}
 
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}


/*
###########################################################################
*/ 

.card_profile{
    background-color:#0f1733;padding:1.0rem 1.0rem;
}
.image.img-profile
{
    background-color:#BEBEBE;
    height: 160px;
    width: 132px;
}
.profile_head{
    background-color:#f5f5f5;height: auto;width: 100%;margin-left:0px;padding:1%;
}

.profile.boxprofile{
    background-color:#f4f5fa; color:whitesmoke;padding:1%; height: 180px;width: 100%;
}

.profile.boxprofile .profile_data{
    height: 160px;width: 450px;margin-left:150px;padding:1%;
}