.table-striped>tbody>tr:nth-child(2n+2)>td,
.table-striped>tbody>tr:nth-child(2n+2)>th {
    background-color: #1976d21a;
}

/* ol > li > a {color:#222233;} */

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20rem;
}

.toggle.ios .toggle-handle {
    border-radius: 20rem;
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
}
/* ############################################################################ */
i.icon_action{
    color:#0f1733 !important; 
    font-size: 30px;
}
.htab{
    width:7px;height:30px;background-color:#1a1d52; float:left; margin-right:10px;
}
.table.table_custom1 thead{
    background-color:#0f1733; 
    color:whitesmoke;
    text-align: center;
}

.btn_b1 ,a.btn_b1{
    background-color:#0f1733; 
    color:white; 
}
.btn_b1:hover , a.btn_b1:hover{
    background-color:#223167; 
    color:white; 
}
.btn_b2{
    background-color:#0f1733;color:white;border:white;
} 

.btn_b2 span{
    color:white; font-weight: bold;font-size: 13px;margin-top:3px;
}

.btn_b2 span.la{
    font-size: 1rem;
}


.card-header.boxheader1{
    padding: 10px;background-color:#0f1733; color:white; font-weight: bold;font-size: 14px;
}
.card-header.cardh1{
    background-color:#e1e8fc;
}
.card-header.cardh1 .card-title{ 
    color:#0f1733;margin-bottom: 0.5rem; margin-top: 0.3rem; margin-left: 0.5rem;
}

.toggle-on {
   /* top: 8px;*/
}


.profile_head .card-header{
    padding: 0.8rem 0.3rem 0.3rem 0.5rem;
}


.select2-container--classic .select2-selection--single, .select2-container--default .select2-selection--single { 
    border: 1px solid #cacfe7 !important; 
    color: #3b4781 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #3b4781 !important;
}

.datep .input-group-append{
    cursor: pointer;
}

.fontset5{
    font-weight: bold;
    font-size: 15px;
    color: #0f1733;
}

.tabc1 {
    border-left: 8px solid #0f1733;
    height: 30px;
    float: left;
    padding-right: 4px;
}

ul li .dept{
    font-weight: bold;font-size: 12px;
}


.box_positionsetup ul li{
    cursor: pointer;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #E4E8F9;
    cursor: default;
}


.table.table_custom2 thead th {
    vertical-align: middle;
}
table.table_custom2 th,table.table_custom2 td {
    /* border-collapse: unset; */
    border-bottom: 1px solid #c0e0ff;
}
.table.table_custom2 tbody{
    font-size: 12px;
}
tr.bg2{
    background-color: #3185da2c;
}
tr.bg3{
    background-color: #d8e1ea2c;
}
form .form-group {
    margin-bottom: 0.7rem;
}

.boxsub1{
    padding: 10px 0px;
    border-bottom: 1px solid #0e1733;
    color: #2b335e;
    background-color: #e4e8f9;
}
.input-group>.form-control, .input-group>.custom-select, .input-group>.custom-file {
   
    height: 38px;
}
.form_custom1 .form-group label{
    padding-top: 7px;
}
.form_custom1 .input-group {
    padding: 0rem 0rem 0rem 0rem !important;
}

.fontc1{
    color: #2b335e;
}
   
@media (min-width: 576px){
    .modal_custom1 .modal-dialog {
        margin: 15rem auto;
    }
}
