
/* //////////////////Ying Custom/////////////////////////////////// */
.textBB{
    color:white; font-weight: bold;font-size: 18px;
    
    }

.bg-hr{
background-color:#0f1733;
color:white;

}

.tapOpenClose {
background-color:#D8E0FA;
color:#000;
/* line-height:40px; */
height: 40px;;
padding:10px;
}

.badge.badge-orange12{  
    background-color:#FF9149;
    font-size: 0.9rem;
    padding: 12px 15px 12px 14px;
}

.badge.badge-purple12{  
    background-color:#666EE8;
    font-size: 0.9rem;
    padding: 12px 15px 12px 14px;
}