/*=========================================================================================
    File Name: vertical-menu.scss
    Description: A calssic vertical style menu with expand and collops support. It support
    light & dark version, filpped layout, right side icons, native scroll and borders menu
    item seperation.
    ----------------------------------------------------------------------------------------
    Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
    Version: 1.0
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

@import url(../../../../../Asset/Css/thsarabunnew.css);
@media (min-width: 576px) {
    body.vertical-layout.vertical-menu.menu-flipped .main-menu {
        right: 0;
    }
}

body.vertical-layout.vertical-menu .navbar .navbar-brand {
    white-space: nowrap;
}

body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-header {
    float: left;
    /* width: 260px; */
    width: 450px;
}

body.vertical-layout.vertical-menu.menu-expanded .navbar.navbar-brand-center .navbar-header {
    float: left;
    width: auto;
}

body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-container {
    margin-left: 450px;
}

body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-brand .brand-text {
    animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu {
    /* width: 260px; */
    width: 380px;
    transition: 300ms ease all;
    backface-visibility: hidden;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation .navigation-header .ft-minus {
    display: none;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation>li>a>i {
    margin-right: 12px;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation>li>a>i:before {
    font-size: 1.4rem;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation>li>a>span.badge {
    position: absolute;
    right: 20px;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.has-sub>a:not(.mm-next):after {
    content: "\f112";
    font-family: 'LineAwesome';
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 14px;
    transform: rotate(0deg);
    transition: -webkit-transform 0.2s ease-in-out;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.has-sub .has-sub>a:not(.mm-next):after {
    top: 8px;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.open>a:not(.mm-next):after {
    transform: rotate(90deg);
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .main-menu-footer {
    width: 260px;
}

body.vertical-layout.vertical-menu.menu-expanded .content,
body.vertical-layout.vertical-menu.menu-expanded .footer {
    /* margin-left: 260px; */
    margin-left: 380px;
}

body.vertical-layout.vertical-menu.menu-expanded .navbar-brand-center .content,
body.vertical-layout.vertical-menu.menu-expanded .navbar-brand-center .footer {
    margin-left: 0;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-header {
    float: left;
    width: 80px;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar.navbar-brand-center .navbar-header {
    float: left;
    width: auto;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-brand {
    padding: 17px 0px;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-container {
    margin-left: 60px;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-brand .brand-text {
    animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadeout;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu {
    width: 80px;
    transform: translateZ(-160px) translateX(-160px);
    transform: translate3d(0, 0, 0);
    transition: 300ms ease all;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-footer {
    width: 60px;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-footer,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-header .media-body .media-heading,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-header .media-body .text-muted,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-header .media-right {
    display: none;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-header .media-body {
    opacity: 0;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .user-content {
    padding: 20px 10px;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>span.menu-title,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content a.menu-title {
    right: -350px;
    width: 350px;
    font-weight: 600;
    color: #fafafa;
    text-transform: uppercase;
    text-align: left;
    background-color: #2F47A1;
    /* background-color: #1E9FF2; */
    /* border-color: #1E9FF2; */
    padding: 14px 20px;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>ul.menu-content {
    left: 79px;
    width: 350px;
    transition: visibility .25s, opacity .25s;
    box-shadow: 25px 5px 75px 2px rgba(64, 70, 74, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.02);
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>ul.menu-content li {
    white-space: nowrap;
    position: relative;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>ul.menu-content li a {
    display: block;
    padding: 8px 20px 8px 20px;
    transition: all 0.2s ease;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>ul.menu-content li.has-sub>a:not(.mm-next):after {
    content: "\f112";
    font-family: 'LineAwesome';
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 14px;
    transform: rotate(0deg);
    transition: -webkit-transform 0.2s ease-in-out;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>ul.menu-content li.has-sub .has-sub>a:not(.mm-next):after {
    top: 8px;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>ul.menu-content li.open>a:not(.mm-next):after {
    transform: rotate(90deg);
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>ul.menu-content li:hover>a,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>ul.menu-content li.hover>a {
    transform: translateX(0px);
    background-color: #404C69;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>ul.menu-content li:hover>a>a,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>ul.menu-content li.hover>a>a {
    transform: translateX(-4px);
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation {
    overflow: visible;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li.navigation-header {
    padding: 22px 20px 8px 20px;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li.navigation-header .ft-minus {
    display: block;
    font-size: 1.3rem;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li.navigation-header span {
    display: none;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li>a {
    padding: 10px 0px 10px 27px;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li>a>span {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: -260px;
    width: 260px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    background-color: #666EE8;
    border-color: #666EE8;
    padding: 14px 20px;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li>a>i {
    margin-right: 0;
    font-size: 1.4rem;
    line-height: 1;
    visibility: visible;
    opacity: 1;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li>ul {
    display: none;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li>a>span {
    display: none;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .mTSWrapper {
    overflow: visible;
}

body.vertical-layout.vertical-menu.menu-collapsed .content,
body.vertical-layout.vertical-menu.menu-collapsed .footer {
    margin-left: 80px;
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar-brand-center .content,
body.vertical-layout.vertical-menu.menu-collapsed .navbar-brand-center .footer {
    margin-left: 0;
}

body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .content {
    margin: 0;
    margin-right: 60px;
}

@media (min-width: 576px) {
    body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .main-menu {
        right: 0;
    }
    body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .main-menu span.menu-title {
        right: 60px;
    }
    body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .main-menu ul.menu-content {
        right: 60px;
        left: inherit;
    }
}

body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .navbar .navbar-header {
    float: right;
}

body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .navbar .navbar-container {
    margin: 0;
    margin-right: 60px;
}

body.vertical-layout.vertical-menu.menu-collapsed.menu-flipped .footer {
    margin: 0;
    margin-right: 60px;
}

[data-textdirection="rtl"] body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li>a {
    padding: 14px 16px !important;
}

[data-textdirection="rtl"] body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li.navigation-header .ft-minus {
    padding: 12px 0px;
}

@media (min-width: 992px) {
    body.vertical-layout.vertical-menu.menu-flipped .content {
        margin: 0;
        margin-right: 260px;
    }
    body.vertical-layout.vertical-menu.menu-flipped .navbar .navbar-header {
        float: right;
    }
    body.vertical-layout.vertical-menu.menu-flipped .navbar .navbar-container {
        margin: 0;
        margin-right: 260px;
    }
    body.vertical-layout.vertical-menu.menu-flipped .footer {
        margin: 0;
        margin-right: 260px;
    }
}

@media (max-width: 991.98px) {
    body.vertical-layout.vertical-menu .main-menu {
        width: 60px;
    }
    body.vertical-layout.vertical-menu .main-menu .main-menu-footer {
        width: 260px;
    }
    body.vertical-layout.vertical-menu .navbar .navbar-header {
        width: 60px;
    }
    body.vertical-layout.vertical-menu .content,
    body.vertical-layout.vertical-menu .footer {
        margin-left: 60px;
    }
}

@media (max-width: 767.98px) {
    body.vertical-layout.vertical-menu .content,
    body.vertical-layout.vertical-menu .footer {
        margin-left: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/*=========================================================================================
	File Name: vertical-overlay-menu.scss
	Description: A overlay style vertical menu with show and hide support. It support 
	light & dark version, filpped layout, right side icons, native scroll and borders menu 
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

.vertical-overlay-menu .content {
    margin-left: 0;
}

.vertical-overlay-menu .navbar .navbar-header {
    float: left;
    width: 260px;
}

.vertical-overlay-menu .navbar.navbar-brand-center .navbar-container {
    margin-left: 0;
}

.vertical-overlay-menu .navbar.navbar-brand-center .navbar-header {
    float: left;
    width: auto;
}

.vertical-overlay-menu .main-menu,
.vertical-overlay-menu.menu-hide .main-menu {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition: width .25s, opacity .25s, transform .25s;
    width: 260px;
    left: -260px;
}

.vertical-overlay-menu .main-menu .navigation .navigation-header .ft-minus {
    display: none;
}

.vertical-overlay-menu .main-menu .navigation>li>a>i {
    font-size: 1.4rem;
    margin-right: 12px;
    float: left;
}

.vertical-overlay-menu .main-menu .navigation>li>a>i:before {
    transition: 200ms ease all;
}

.vertical-overlay-menu .main-menu .navigation li.has-sub>a:not(.mm-next):after,
.vertical-overlay-menu.menu-hide .main-menu .navigation li.has-sub>a:not(.mm-next):after {
    content: "\f112";
    font-family: 'LineAwesome';
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 14px;
    transform: rotate(0deg);
    transition: -webkit-transform 0.2s ease-in-out;
}

.vertical-overlay-menu .main-menu .navigation li.has-sub .has-sub>a:not(.mm-next):after,
.vertical-overlay-menu.menu-hide .main-menu .navigation li.has-sub .has-sub>a:not(.mm-next):after {
    top: 8px;
}

.vertical-overlay-menu .main-menu .navigation li.open>a:not(.mm-next):after,
.vertical-overlay-menu.menu-hide .main-menu .navigation li.open>a:not(.mm-next):after {
    transform: rotate(90deg);
}

.vertical-overlay-menu .main-menu .main-menu-footer {
    bottom: 55px;
}

.vertical-overlay-menu .main-menu .main-menu-footer {
    width: 260px;
}

.vertical-overlay-menu.menu-open .main-menu {
    opacity: 1;
    transform: translate3d(260px, 0, 0);
    transition: width .25s, opacity .25s, transform .25s;
}

.vertical-overlay-menu.menu-flipped .main-menu {
    right: -260px;
    left: inherit;
}

.vertical-overlay-menu.menu-flipped .navbar .navbar-container {
    margin: 0;
    margin-right: 260px;
}

.vertical-overlay-menu.menu-flipped .navbar .navbar-header {
    float: right;
}

.vertical-overlay-menu.menu-flipped.menu-open .main-menu {
    transform: translate3d(-260px, 0, 0);
}

@media (max-width: 991.98px) {
    .vertical-overlay-menu .main-menu .main-menu-footer {
        bottom: 0px;
    }
}